body, html, #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.App {
  text-align: center;
  height: 100%;
  &__content {
    &__pageWrapper {
      height: calc(100% - 55px);
    }
  }
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
