.App-header {
  flex-grow: 1; }
  .App-header__app-bar {
    background-color: gainsboro !important; }
    .App-header__app-bar__icon-button {
      width: auto !important;
      height: auto !important;
      margin: 10px auto !important; }
