.App-header {
  flex-grow: 1;
  &__app-bar {
    background-color: gainsboro !important;
    &__icon-button {
      width: auto !important;
      height: auto !important;
      margin: 10px auto !important;
    }
  }
}