.Users {
  height: 80%;
  overflow-y: scroll;
  max-height: 1400px;
  position: relative;
  top: 20px;
  bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid gainsboro;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .Users :first-child {
    height: 100%; }
  .Users .infinite-scroll-component {
    height: 100%; }
  .Users__list {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto !important; }
    .Users__list :hover {
      background-color: gainsboro;
      border-radius: 2px; }
