.Repositories {
  min-width: 900px;
  max-width: 1500px;
  height: 100%;
  &__back-button {
    position: fixed !important;
    top: 80px;
    left: 30px;
  }
  &__content {
    height: 100%;
    overflow: scroll;
    &__progress {
      margin-top: 20px !important;
    }
    &__table {
      width: 50% !important;
      height: 70%!important;
      overflow: scroll;
      min-width: 300px!important;
      max-width: 600px !important;
      margin: 20px auto !important;
      border: 1px solid gainsboro;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
}