.Repositories {
  min-width: 900px;
  max-width: 1500px;
  height: 100%; }
  .Repositories__back-button {
    position: fixed !important;
    top: 80px;
    left: 30px; }
  .Repositories__content {
    height: 100%;
    overflow: scroll; }
    .Repositories__content__progress {
      margin-top: 20px !important; }
    .Repositories__content__table {
      width: 50% !important;
      height: 70% !important;
      overflow: scroll;
      min-width: 300px !important;
      max-width: 600px !important;
      margin: 20px auto !important;
      border: 1px solid gainsboro;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
